.app-main {
  display: block;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-item {
  min-height: 40px;
  a:hover{
    text-decoration: none;
  }
}
.menu-item a.active {
  color: #442982;
}

.mat-sidenav-content{
  margin-top: 56px;
  max-height: calc(100vh - 56px);
}

.menu-item a {
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #a7a7a7;
}

.menu-item a span {
  color: #1d1d1d;
}

.mainhead{
  width: 100%;
  height: 56px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

// admin #4d667b
.mainhead-container {
  color: white;
  background-color: #442982;
  position: fixed;
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mainhead-container::after {
  bottom: -5px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
  content: "";
  height: 5px;
  left: 0px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 999;
}

.menu-spacer{
  margin-top: 56px;
}
